@media screen and (min-width: 750px){
       /*/// Imagem elemento de background mobile ///*/
       section.container img.img-mobile-top{
              display: none;      
       }
       section.container img.img-mobile-bottom{
              display: none;            
       }
       
       /*/// Imagem elemento de background desktop///*/
       section.container img.img-desktop-top{
              display: block;  
              z-index: 0;           
       }
       main{
              padding: 13rem 3rem;
        }
       section.content-top{              
              display: flex;
              align-items: center;
              justify-content: space-between; 
              width: 100%;
              height: auto;             
       }
       section.content-top section.left,
       section.content-top section.right{
              flex: 1;
       }
       section.content-top section.left{
              padding: 2rem;

       } 
       
       section.content-bottom{
              display: flex;                          
       }
       article.testimonial-01,
       article.testimonial-02,
       article.testimonial-03{
              flex: 1;
              margin-top: 4rem; 
              width: 350px;                     
       }
       article.testimonial-01{
              margin-right: 2%;
       }
       article.testimonial-02{
              margin-right: 2%;
       }       
}
@media screen and (min-width: 1115px){
       section.container img.img-desktop-bottom{
              display: block;                         
       }  
       section.content-top section.left{              
              flex: 0 0 500px;
              padding: 0;          
       }   
       section.content-top section.right{
              flex: 0 0 540px;
              height: 300px;
              display: flex;
              flex-direction: column;              
              justify-content:center;       
       }
       section.left header h1{
              font-size: 5rem;
              text-align: left;            
              line-height: 5rem;
              max-width: 43rem;
        }
        section.left p{
              font-size: 1.6rem;
              font-weight: 500;
              text-align: left;              
              padding: 1.5rem 0 3.5rem 0;
              line-height: 2.5rem;
              max-width: 50rem;
        }

       section.right .box-01,
       section.right .box-02,
       section.right .box-03{ 
              position: relative;            
              display: flex;
              justify-content: left; 
              align-items: center;                                      
              width: 45rem;
              height: 6rem;   
              padding: 0;  
              margin-bottom: 2rem;                    
       }  
       section.right .box-01{              
              top: 0;
              left: 0;
       }
       section.right .box-02{              
              top: 0;
              left: 4.5rem;
       }
       section.right .box-03{              
              top: 0;
              left: 9rem;
       }             
       section.right .stars{      
       letter-spacing: 0.4rem;
       margin:0 3rem;           
       } 
       .content-bottom{
              display: flex;                          
              justify-content: space-between;
              align-content: space-between;              
       }
       article .txt p{             
              font-size: 1.4rem;
        }
       article.testimonial-01,
       article.testimonial-02,
       article.testimonial-03{
              position: relative;
              background-color:var(--Very-Dark-Magenta);
              border-radius: 1rem;
              padding: 4rem 2rem 4rem 3.5rem ;              
       }
       article.testimonial-01{
              top: 0;
              left: 0;
       }
       article.testimonial-02{
              top: 2rem;
              left: 0;
       }
       article.testimonial-03{
              top: 4rem;
              left: 0;
       }
}