@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Outfit:wght@300;400;600&family=Red+Hat+Display:wght@500;700;900&family=Spartan:wght@400;500;700&display=swap');

:root{
      /*/// Primary ///*/
      --Very-Dark-Magenta: hsl(300, 43%, 22%);
      --Soft-Pink: hsl(333, 80%, 67%);

      /*/// Neutral ///*/
      --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
      --Light-Grayish-Magenta: hsl(300, 24%, 96%);
      --White: hsl(0, 0%, 100%);
}

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
html{      
      /*Cada 1rem será considerado 10px*/
      font-size: 62.5%;
 }
 body{
      font-family: 'Spartan', sans-serif;
       font-size: 1.5rem;
 }